#submit_f {background-color : #06d6a0; }

.bi {font-size: 30px; }

body {
background-color: #e5e5e5;
}

a {
    color: #118ab2;
}

.cpalette-- {background-color: #03045e;}
.cpalette-0 {background-color: #caf0f8;}
.cpalette-1 {background-color: #90e0ef;}
.cpalette-2 {background-color: #00b4d8;}
.cpalette-3 {background-color: #0077b6;}