{% extends 'custombase.html' %}

{% block title %}
New list
{% endblock %}

{% block content %}

<!--list append form (if present)-->
  <div class="container-fluid bg-light my-1">
      <form class="d-flex" action="" method="post" role="form" novalidate="">
        <a class="btn btn-outline-primary me-1 active" href="#">UserList2</a>
        <div class="form-group ">
            <select class="form-select me-5" id="priority_f" name="priority_f" aria-label=".form-select-sm example">
              <option selected value="0">Priority</option>
              <option value="1">3</option>
              <option value="2">2</option>
              <option value="3">1</option>
            </select>
        </div>
        <input id="task_f" name="task_f" class="form-control mx-1" type="text" placeholder="New task" aria-label="Task">
        <input id="submit_f" name="action" class="btn btn-outline-success me-1" type="submit" value="Add">
        <input id="delete_f" name="action" class="btn btn-outline-danger" type="submit" value="Delete">
      </form>
  </div>

<!--list representation (if present)-->
{% for item in tdl %}
<div class="container-fluid d-flex flex-row bg-light my-1">
    <input class="me-3" type="checkbox" {{'checked' if item[1] == '-1' else ''}}>
    <label class="mx-1 form-control {{'cpalette-'+item[1] if item[1]|int >= 0 else ''}}" > {{ item[0] }} </label>
    <a href="#" class="btn btn-outline-warning me-1">Edit</a>
    <a href="#" class="btn btn-outline-danger">Delete</a>
</div>
{% endfor %}

{{ super() }}
{% endblock %}